extends ../../layout

block variables 
    //- -var title='title bar'
    -var pageTitle = "Asset History"

block content 
    link(rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css")

    .bg-light.p-3.small
        .d-grid.d-md-flex.gap-4.mb-3.justify-content-between
            .opacity-50 Assets list

        if data && data.assets
            .table-responsive.pb-3
                table#assetTable.table.table-hover.table-light.small.my-1.pt-1
                    thead 
                        tr
                            th.custom-blue-bg(style="width: 1%; white-space: nowrap;") ID 
                            th.custom-blue-bg Asset Name
                            th.custom-blue-bg Serial Bumber
                            th.custom-blue-bg UniqueId
                            th.custom-blue-bg Make
                            th.custom-blue-bg Model
                            th.custom-blue-bg Category
                            th.custom-blue-bg Status
                            th.custom-blue-bg Purchase Date
                            th.custom-blue-bg Value (₹)
                            th.custom-blue-bg Branch
                            th.custom-blue-bg Employee
                            th.custom-blue-bg(style="width: 1%; white-space: nowrap;") Actions
                    tbody 
                        each asset, index in data.assets 
                            tr(style='font-size:.7rem')
                                td=index+1
                                td(style="width: 1%; white-space: nowrap;")=asset.name
                                td=asset.serialNumber
                                td=asset.uniqueId
                                td=asset.make
                                td=asset.model
                                td=asset.category.name
                                td(class=`fw-bold text-uppercase ${asset.status === 'in stock' ? 'text-primary' :asset.status === 'scrapped' ? 'text-danger' : 'text-success' }`)=asset.status
                                td=asset.purchaseDate.toLocaleDateString()
                                td.text-end=new Intl.NumberFormat('en-IN', {minimumFractionDigits: 2,maximumFractionDigits: 2}).format(asset.value)
                                td=asset.branch
                                td=asset.employee && asset.employee.name
                                td(style="white-space: nowrap;")
                                    a.text-decoration-none.text-danger.text-uppercase(href=`/assets/history/${asset.id}`)
                                        b
                                            i.fa.fa-clock-rotate-left.me-1 
                                            span History 
    

    script(src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js")
    script.
      $(document).ready(function() {
       const table =  $('#assetTable').DataTable({
            'columnDefs': [
                {'orderable': false, "targets" : -1}
            ]
        });
      });
